/* MenuBar */
.outer {
    display: table;
    position: absolute;
	width : 65%;
    height: 80%;
    
}

.middle {
	/*position: relative;*/
	font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
/* MAIN Tasks PAGE */
.task1 {
  background: #fff;
  padding:10px 50px ;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.task {
  background: #fff;
  padding:10px 50px ;
}


.info {
  
  font-size: 16px;
  margin-left: 20px;
  margin-top: 3px;
}

.subinfo {
  color:#999;
   /*font-weight:bolder;*/
  text-decoration-color: currentColor;
  font-size: 11px;
  margin-left: 20px;
  margin-top: 3px;
}

.url {
  font-weight: normal;
  color:#999;
  font-size:11px;
  
}

.comments {
	margin-left:10px;
	margin-top:5px;
}

/* Comment Box */
.mystyle input[type="text"] {
  height: 60px;
  font-size: 1px;
  line-height: 14px;
}
.comments {
  background: #fff;
  margin-left: 25px;
  margin-bottom: 2px;
  border-bottom-color: currentColor; 
}
.commentsDetail {
  color:#999;
  font-size:11px;
  background: #fff;
  
  margin-top: -5px;
  border-bottom-color: currentColor;
  
}

/* PROFILE PAGE */
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.name {
  font-weight: bolder;
  font-size: 1.5em;
}


.vote {
  height:20px;
  cursor: pointer;
}

.auth-forms {
  max-width:400px;
  margin:0 auto;
  background: #fff;
  padding:1px 25px 25px 25px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cmt-form {
  margin-top:30px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}
.awesome {
	font-family: 'Bradley Hand ITC';
	font-size: 30px;
	font-weight: bold;
}
.noun {
    text-decoration: none;
}

/* Bootstrap Callouts */
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 10px 0;
  padding: 10px 10px 10px 10px;
  border: 1px solid #eee;
  border-left-width: 8px;
  vertical-align: middle;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  /*background-color: #f0f7fd;*/
  border-color: #d0e3f0;
}
/* Track Page Designs */
.bs-callout:hover {
  box-shadow: 0px 0px 10px #AAA;
}
.get-shadows {
  box-shadow: 0px 0px 10px #AAA;
}