<html>
<head><title>Dashboard</title>

	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- For date and combobox libraries -->
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/bootstrap-combobox.css" rel="stylesheet">   
	<!-- CSS pertaining to design --> 
	<link href="css/main.css" rel="stylesheet">

	<!-- For material Design -->
	<link href="css/ripples.min.css" rel="stylesheet">
	<link href="css/material-wfont.min.css" rel="stylesheet">

	<script src="js/jquery.min.js"></script>

	<base href="/">
</head>
<body  ng-app="mainApp">
	<div ng-controller="homeCtrl">
	<!-- Jargon Query -->
	<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" ng-hide="selectedPage">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<h4>Are you sure you want to delete task {{taskName}}</h4>
					</div>
					
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" data-dismiss="modal" href="javascript:void(0)" ng-click="deleteTask(taskName)">Yes</a> 
					<a class="btn btn-default" data-dismiss="modal" href="javascript:void(0)">No</a> 	
				</div>
			</div>
		</div>
	</div>
	<!-- Jargon Query -->
	<div id="failModal" class="modal fade" tabindex="-1" role="dialog" ng-hide="selectedPage">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div>
						<h5>{{message}}</h5>
					</div>
					
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal" href="javascript:void(0)">Close</a> 	
				</div>
			</div>
		</div>
	</div>
	<!-- modal to create  a new task -->
	<div id="newTaskModal" class="modal fade" tabindex="-1" role="dialog" ng-hide="selectedPage">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Enter details of the Task..</h4>
				</div>
				<div class="modal-body">
					<div>
						<div  class="col-sm-12"><h5>Task Name </h5></div>
						<div class="col-sm-12"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="taskName" placeholder="simple name for easy reference"/></div>
					</div>
					<div>
						<div class="col-sm-12"><h5>Task description </h5></div>
						<div class="col-sm-12"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="taskDesc" placeholder="Description of the task"/></div>
					</div>				
				</div>
				<div class="modal-footer">
					<div class="row">
					<a class="btn btn-primary" href="javascript:void(0)" ng-click="addNewTask()">Create</a>
					<a class="btn btn-default" data-dismiss="modal" href="javascript:void(0)">Cancel</a></div>
				</div>
			</div>
		</div>
	</div>
		
	<!-- modal to create open a task  ofcourse in edit mode-->
	<div id="editTaskModal" class="modal fade" tabindex="-1" role="dialog" ng-hide="selectedPage">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Details of the Task..</h4>
				</div>
				<div class="modal-body">
					<div>
						<div  class="col-sm-12"><h6>Task Name </h6></div>
						<div class="col-sm-12"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="editTask.tn" placeholder="simple name for easy reference"/></div>
					</div>
					<div>
						<div class="col-sm-12"><h6>Task description </h6></div>
						<div class="col-sm-12"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="editTask.td" placeholder="Description of the task"/></div>
					</div>
									
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="javascript:void(0)" ng-click="updateTask()">Save</a>
					<a class="btn btn-default" data-dismiss="modal" href="javascript:void(0)">Close</a> 				
				</div>
			</div>
		</div>
	</div>

	<div class="navbar navbar-fixed-top shadow-z-2 btn-material-brown" ng-hide="true">
		<div class="get-shadows">
		<div class="container" >
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">&nbsp;Dashboard&nbsp;</a>
			</div>
			
				
			<ul class="nav  navbar-nav navbar-right">
				<li >
					<form class="navbar-form" ng-submit="searchAction()">
						<input type="text"  class="input input-group form-control btn-material-brown" placeholder="Search" ng-model="formData.query">
						<i class="{{micStatus}}" ng-hide="micHide" ng-click="startVoiceSearch()"></i>
						</input>
					</form>
				</li>
				<li class="Active" ng-click="createNewTaskPopup()"><a href="">New Task</a></li>
				

			  <!-- Switching between Login and Account -->
			</ul>
					 
				
			
		</div>
		</div>
	</div>
	<div class="container">
		<br/><br/><br/>
		<div class="container panel" style="height:80%;" ng-hide="false">
			<div class="outer">
			<div class="middle">
			<div class="inner ">		
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-10" >
						<h1>Dashboard<p class="url">Natural language search</p></h1>
						<form class="input" ng-submit="searchAction()">
							<input type="text"  class="input input-group form-control" style="font-size:19px;" ng-model="formData.query" placeholder="What do you want to do ? ... Eg. Create a task, List all tasks etc.. " >
						</form>


					</div>
					<div class="col-sm-1"></div>
				</div>
				
				<div ng-show="showTask" class="row">
					<br/><hr width="50%"/><br/>
					<div class="col-sm-11 col-xs-offset-1">
							<h5 class="url">Task Name</h5>
							<div  ng-hide="edittable"><strong><h3>{{editTask.tn | firstCaps}}</h3></strong></div>
						<div class="" ng-show="edittable"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="editTask.tn | firstCaps" placeholder="simple name for easy reference"/></div>
					</div>
					<div class="col-sm-11 col-xs-offset-1">
							<h5 class="url">Task Description</h5>
							<div  ng-hide="edittable"><strong><h3>{{editTask.td | firstCaps}}</h3></strong></div>
							<div class="" ng-show="edittable"><input type="text" autocomplete="on" class="col-sm-12 input input-group form-control square-border"  ng-model="editTask.td | firstCaps" placeholder="Description of the task"/></div>
					</div>
					
					
					<div ng-show="edittable" class="col-sm-11 col-xs-offset-1">
						<a class="btn btn-primary" href="javascript:void(0)" ng-click="updateTask()">Save</a>
						<a class="btn btn-default" href="javascript:void(0)" ng-click="hideTaskDisplay()">Close</a>				
					</div>
					<div ng-hide="edittable" class="col-sm-11 col-xs-offset-1">
						<a class="btn btn-default" href="javascript:void(0)" ng-click="hideTaskDisplay()">Close</a> 
					</div>
					
					
				</div>
				
				<div ng-show="showTaskList" class="row" style="height:300px; overflow-y: scroll;">
					<div class="col-sm-11 col-xs-offset-1 btn-material-brown">
						<div class="col-sm-2"><strong>Task Name</strong></div>
						<div class="col-sm-10"><strong>Task Description</strong></div>
					</div>
					
					<div ng-repeat="task in taskList" class="col-sm-11 col-xs-offset-1">
						<div class="col-sm-2"><strong>{{task.tn | firstCaps}}</strong></div>
						<div class="col-sm-10">{{task.td}}</div>
					</div>
					
				</div>
			</div>
			</div>
			</div>
			
			<!--  Display Area Starts-->
			<!--  Display Area Ends-->
		</div>
		<div class="container panel" style="height:80%;" ng-hide="true">
			<br/><br/>


			<h2>My Tasks</h2>
			<div class="row">
				<div class="col-sm-12 task" ng-repeat="task in tasks">
					<p><strong>{{task.tn}}</strong><br/>{{task.td}}</p>
				</div>	
			</div>
		</div>
		<!--			 Code Below - Angular Routing for Templating		-->
		<div  ng-view="" ng-hide="true">
		</div>

		<!--			 Code Above 			-->
			<br/>
		<div class="footer">
			<div class="row">
				<div class="col-md-12" align="center">
					<div >
						<small><p>v1.0 | @ranji2612 | 2015</p></small>
					</div>
				</div>
				<!-- <div class="col-md-9" align="right">
					<div align="right">
				  <a href="http://nodejs.org/" target="_blank"><img height="40" src="images/node_logo.png"></a> &nbsp;&nbsp;<a href="" target="_blank" style="text-decoration : none">Express</a>&nbsp;&nbsp;
				  <a href="https://angularjs.org/" target="_blank"><img height="20" src="images/angular_logo.png"></a> &nbsp;&nbsp;
				  <a href="http://www.mongodb.com/" target="_blank"><img height="20" src="images/mongo_logo.png"></a>   &nbsp;&nbsp;
				  <a href="http://getbootstrap.com/" target="_blank" class="bs-docs-booticon"><img height="20" src="images/bootstrap_logo.png"></a>
			  </div>
				</div> -->
			</div>
		</div>

	</div>

	</div>

	<!-- Loading scripts at the end -->
	<!-- Libraries -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-combobox.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	
	<script src="js/ripples.min.js"></script>
    <script src="js/material.min.js"></script>
	<!-- App script files  -->
	<script src="app.js"></script>
	<script src="controllers/indexCtrl.js"></script>
	<script src="filters/dispDateFormat.js"></script>
	<script src="filters/firstCaps.js"></script>  
	<!-- <script src="js/app.min.js"></script>  -->
	
	<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
	
    
	<!-- End of Scripts -->
</body>
</html>