<div class="form-horizontal">
	<br/>
	<div class="panel panel-default">
		<div class="panel-body">
			<br/>
			<div class="row">
				<div class="col-sm-10">
					<!--  First Row -->
					<div class="row" >
						<!-- From City LOV -->
						<div class="col-sm-5">
							<select id="fromLoc" class="combobox typeahead input-large form-control" required>
								<option value="" selected disabled>From</option>
								<option value="DEL">Delhi (DEL)</option>
								<option value="BLR">Banglore (BLR)</option>
							</select>
						</div>

						<!-- Swap Button -->
						<div class="col-sm-1">
							<button type="button" class="btn btn-default btn-trans" ng-click="swapLoc()">
							  <span class="mdi-action-swap-horiz"></span>
							</button> &nbsp;&nbsp;
							
						</div>

						<!-- To City LOV -->
						<div class="col-sm-5">
							<select  id="toLoc" class="combobox typeahead input-large form-control">
									<option value="" selected disabled>To</option>
									<option value="DEL">Delhi (DEL)</option>
									<option value="BLR">Banglore (BLR)</option>
							</select>
						</div>
						<div class="col-sm-1">
						</div>
					</div>
					<!-- <hr width="40%"/> -->
					<!--  Second Row  -->
					<div class="row" >
						<!-- Multiselect Date -->
						<div class="col-sm-8">
							<div class="row col-sm-12">
								Enter Date or Dates to track Fare <br/>
								<div class="input-group date">
									<!-- The initialisation part of the date component (the javascript call) is written in the controller -->
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
									<input type="text"  class="pickadate input form-control"  ng-model="formData.datePicker"/>
									<script>

									</script>
								</div>
							</div>
							<div class="row col-sm-12" ng-hide="true">
								<div class="col-sm-4" align="center">
									<button type="button" class="btn btn-primary btn-block" data-toggle="button" autocomplete="off">
									  Single toggle
									</button>
								</div>
								<div class="col-sm-4" align="center">
									<button type="button" class="btn btn-primary btn-block" data-toggle="button" autocomplete="off">
									  Single toggle
									</button>
								</div>
								<div class="col-sm-4" align="center">
									<button type="button" class="btn btn-primary btn-block" data-toggle="button" autocomplete="off">
									  Single toggle
									</button>
								</div>
							</div>
						</div>
						<!-- Threshold Amount -->
						<div class="col-sm-3">
							Threshold Amount (Rs) <br/>
							<div class="">
								<input type="text" class="input input-group form-control" ng-model="formData.thRate" ng-blur="" ng-invalid="true"/>
							</div>
						</div>
					</div>
					<br/>
					<div class="row" ng-hide="isFormValid">
						<div class="col-sm-11">
							<div class="alert alert-warning" role="alert">
								<div ng-repeat="error in formErrors">
									<strong>{{error}}</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-lg" ng-click="trackAction()">Track</button>
				</div>
			</div>
		</div>
		<div ng-hide="true" class="panel-footer"></div>
	</div>
	<br/>
	<!--  Results of Track Search -->
	<div class="">
		<div class="row well bs-callout bs-callout-info" ng-repeat="result in results" >
			<div class="row" ng-click="rowSelect($index)">
				<div class="col-sm-10" >
					<h4>{{result.cc}}&nbsp;&nbsp;<small>{{result.rec[result.cc].arl}}&nbsp;({{result.rec[result.cc].flt[0]}})</h4></small>
					<h4><strong><small>{{result.dISO | dispDateFormat : 'date'}}</small></strong></h4>
					<h5><small><strong>{{(result.rec[result.cc]).dept | dispDateFormat : 'time'}}</strong> {{result.from}} - <strong> {{(result.rec[result.cc]).arvl  | dispDateFormat : 'time'}}</strong> {{result.to}}
					</small></h5>
				</div>
				<div class="col-sm-2" >
					<h4>Rs. {{(result.rec[result.cc]).amt}}</h4>
					<button class="btn btn-md" >Book</button>
				</div>
			</div>
			<div class="row" ng-if="isSelected($index)" ng-hide="!isSelected($index)">
				
				<div class="col-sm-12" >
					<ul class="nav nav-tabs header">
					  <li role="presentation" class="{{isRowTabSelected(0)}}" ng-click="rowTabSelect(0)"><a href="#">Details</a></li>
					  <li role="presentation" class="{{isRowTabSelected(1)}}" ng-click="rowTabSelect(1);priceChangeCurve(result.date);"><a href="#">Price Change</a></li>
					  <li role="presentation" class="{{isRowTabSelected(2)}}" ng-click="rowTabSelect(2)"><a href="#">Others</a></li>
						<li role="presentation" class="pull-right" >
							<button type="button" class="close" ng-click="hideRowDetails()" aria-label="Close">
  								<span aria-hidden="true">&times;</span>
							</button>
						
						</li>
					</ul>
					
				</div>
				<div class="panel-default col-sm-12" ng-show="isRowTabSelected(0)">
					<table class="table" style="width:100%">
						<thead>
							<th>Carriers</th>
							<th>Departure</th>
							<th>Arrival</th>
							<th>Amount</th>
						</thead>
						<tr ng-repeat="(key,flt) in result.rec">
							<td>{{key}}</td>
							<td>{{flt.dept | timeShow}}</td>
							<td>{{flt.arvl | timeShow}}</td>
							<td>{{flt.amt}}</td>
						</tr>
					</table>
				</div>
				<div id="ex0" class="panel-default col-sm-12" ng-show="isRowTabSelected(1)">
				</div>
				<div class="panel-default col-sm-12" ng-if="isRowTabSelected(2)">
					<h2>ZXC</h2>
				</div>
			</div>
		</div>
		
	</div>
</div>